extends ../layouts/navigation-layout.pug

block navigationContent
  div.relative.container
    div.bg-light.rounded-2.mx-5
      form(action='/auth/reset-password', method='POST').mt-5.p-5
        div.mb-4
          h2.fw-bold Reset password
        div.mb-3
          label(for='email').form-label Email Address
          input(type='email', name='email', aria-describedby='emailHelper')#email.form-control
          div#emailHelper.form-text Your email address
        div
          button(type='submit').btn.btn-primary Log in