extends ../layouts/navigation-layout.pug

block navigationContent
    div.container
        form(action=`/admin/categories/${category.id}/edit`, method="POST").mt-5
            div.mb-3
                label(for="categoryName").form-label Category Name
                input(aria-describedby="categoryName", name="categoryName", value=`${category.name}`)#categoryName.form-control
            div.mb-3
                label(for="categoryDescription").form-label Category Description
                textarea(name="categoryDescription", cols="30", rows="5")#categoryDescription.form-control #{category.description}
            button(type="submit").btn.btn-primary Update Category