nav.navbar.navbar-expand-lg.bg-body-tertiary
    div.container-fluid
        a(href="#").navbar-brand Shopping
        button(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
            span.navbar-toggler-icon
        div#navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a(href="/").nav-link Home
                li.nav-item
                    a(href="/products").nav-link Products
                li.nav-item
                    a(href="/admin/categories/create").nav-link Admin Create Category
                li.nav-item
                    a(href="/admin/categories").nav-link Admin Category List
                li.nav-item
                    a(href="/admin/products/create").nav-link Admin Create Product
                li.nav-item
                    a(href="/admin/products").nav-link Admin Product List