extends navigation-layout.pug

block navigationContent
    div.container.pt-5
        div.row
            div.col-lg-3
                include ../includes/category-menu.pug
            div.col-lg-9
                block homeContent