extends layouts/main-layout.pug

block content
    form(action="/admin/create-product", method="POST")
                            div.mb-3
                                label(for="product_name").form-label Email address
                                input(aria-describedby="product_name")#product_name.form-control
                            button(type="submit").btn.btn-primary Save Product