extends ../layouts/main-layout.pug

include ../mixins/product-card.pug

block content
    include ../includes/slider.pug
    div.row
        if productList.length > 0
            each product in productList
                +productCard(product)
        else
            h2.pt-3.fw-bold No Product