extends ../layouts/home-layout.pug

include ../mixins/product-card.pug

block homeContent 
    div.row
        if productList.length > 0
            each product in productList
                +productCard(product)
        else
            h2 No Products
                        